:root {
    --basic-gray: #EEEEEE;
    --basic-extra-gray: #888888;
    --basic-black: #000000;
    --basic-exstra-black: #283136;
    --basic-red: #FB565A;
    --basic-green: #00CA74;
    --basic-yellow: #EFC849;
    --basic-gray-light: #A6A6A6;
    --basic-white: #FFFFFF;
    --basic-more-red: #E74246;
    --basic-max-red: #D7373B;
    --basic-more-green: #00BC6C;
    --basic-max-green: #00AA62;
    --basic-more-yellow: #EAB534;
    --basic-max-yelloy: #E5A722;
    --basic-middle-gray: #4D4D4D;
    --basic-more-gray: #DFDFDF;
    --basic-max-gray: #D5D5D5;
  }
    
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("../fonts/Roboto.woff2") format("woff2");
    font-display: swap; }

*,
*::before,
*::after { box-sizing: border-box; 
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
  }

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
  align-content:  center;
  display: flex;
  justify-content: space-between;
}

.features {
  margin-bottom: 80px;
}

.site-navigation {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.site-navigation li{
  margin-left: 44px;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-gray);
}
  
.site-navigation a{
  color: var(--basic-black);
}

.basket-link{
  color:var(--basic-black)
}
  
.site-navigation a:hover,
.basket-link a:hover, {
  background-color: var(--basic-red);
}

.site-navigation a:focus,
.basket-link a:focus {
  background-color: var(--basic-gray-light);
}

.slogan{
  font-family: "Roboto";
  font-weight: 500; 
  font-size: 55px;
  line-height: 55px;
} 

.motto{
  padding-bottom: 38px;
}

.header{
  background-color: var(--basic-gray);
  padding-top: 20px;
  padding-bottom: 20px;

}

.main-page{
  width: 100%;
  background-color: var(--basic-gray);
}

.button-know-more{
  background-color: var(--basic-red);
  border: none;
  width: 240px;
}

.button-know-more:hover,
.button-know-more:focus{
  background-color: var(--basic-more-red);
}
.button-know-more:active {
  background-color: var(--basic-max-red);
  color: var(--basic-gray);
}

.products {
  list-style: none;
  background-color: var(--basic-white) ;
  margin-bottom: 80px;
}

.product-ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding:0px;
}
  
.product-item {
  text-align: left;
  width: 300px;
}

.product-item-img{
  margin-bottom: 25px;
}

.product-item h3{
  margin: 0px;
  padding:0px;
  text-transform: uppercase;
}

.product-item p{
  margin: 0px;
  padding:0px;
  padding-bottom: 32px;
  padding-top: 16px;

}

.product-item-img{
  height: 146px;
  width: 300px;
}

.button{
  padding: 17px 40px;
  box-sizing: border-box;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  display: inline-block;
}

.button-one{
  background-color: var(--basic-red);
}

.button-one:hover,
.button-one:focus{
  background-color: var(--basic-more-red);
}

.button-one:active {
   background-color: var(--basic-max-red);
   color: var(--basic-gray);
}
 
.button-two{
  background-color: var(--basic-green);
}

.button-two:hover,
.button-two:focus{
    background-color: var(--basic-more-green);
}

.button-two:active {
  background-color: var(--basic-max-green);
  color: var(--basic-gray);
}

.button-three{
  background-color: var(--basic-yellow);
}

.button-three:hover,
.button-three:focus{
    background-color: var(--basic-more-green);
}

.button-three:active {
  background-color: var(--basic-max-green);
  color: var(--basic-gray);
 }
  
.feature-item h3 {
  font-family: "Roboto"; 
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
  
.caption{
  font-family: "Roboto"; 
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0px;
  margin-top: 73px;
  padding:0px
}

.about-company .container{
    background-color: var(--basic-white);
    display: flex;
    justify-content: space-between;
}

.about-company .container{
  border-top: solid 2px var(--basic-gray) ;
}

 .text{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

 .features{
  list-style-image: url("");
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 100px;
}

.features-item p {
  margin: 0 10px;
}

.benefit-item{
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.percent{
  font-family: "Roboto";
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.benefit-text{
  font-family: "Roboto";
  font-size: 16px;
  line-height: 18px;
}
.about-customers{
  border-top: solid 2px var(--basic-gray) ;
  border-bottom:solid 2px var(--basic-gray) ;
  background-color: var(--basic-white);
  margin: 0;
  padding:0;
}

.customers{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.contact-with-us{
  height: 319px;
  width: 308px;
  background-color: var(--basic-white);
}

.button-type{
  background-color: var(--basic-red);
  }
.button-type:hover,
.button-type:focus{
  background-color: var(--basic-more-red);
  }

.button-type:active {
  background-color: var(--basic-max-red);
  color: var(--basic-gray);
 }
 
.contacts{
  background-image: "img/map.jpg";
}

.text-logo{
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.header-logo img {
  height: auto;
  width: 100%;
  display:block;
}

.container {
  margin: 0 auto;
  padding: 0 21px;
  max-width: 1200px;
}


.main{
  background-color: var(--basic-gray);
  margin-bottom: 80px;
  margin-top: -55px;
  height: 425px;
  width: 100%;
}

.site-navigation{
  display: flex;
  justify-content: space-between; 
  margin:0;
  padding:0;
}

.site-navigation:first-child{
  margin-left: 0px;
}

.text-welcome{
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.modal{
  height: 590px;
  width: 960px;
  background-color: var(--basic-white);
}

.type-us{
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: auto;
}

.footer-social ul {
  list-style: none;
}

.footer-social a:hover,
.footer-contacts a:focus {
  color: var(--basic-more-red);
}

.footer-social a:active {
  color: var(--basic-max-red);
}

.modal-text{
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.button-send{
  background-color: var(--basic-red);
}

.button-send:hover,
.button-send:focus{
  background-color: var(--basic-more-red);
}

.button-send:active {
  background-color: var(--basic-max-red);
  color: var(--basic-gray);
}


/*Стилизация каталога*/

.catalog-title{
  font-family: "Roboto";
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}

.filter-input-checkbox{
  color: var(--basic-middle-gray)
}

.filter-input-checkbox:hover,
.filter-input-checkbox:focus{
  color: var(--basic-extra-gray);
}

.filter-input-radio{
  color: var(--basic-middle-gray)
}
  
.filter-input-radio:hover,
.filter-input-radio:focus{
  color: var(--basic-extra-gray);
}

.catalog-list {
  list-style: none;
}

.botton-show{
  background-color: var(--basic-gray);
}

.button-show:hover,
.button-show:focus{
  background-color: var(--basic-more-gray);
}

.button-show:active {
  background-color: var(--basic-max-gray);
  opacity: 0.3;
}

.sort{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.sort-item{
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.sort-item:hover,
.sort-item:focus{
  opacity: 0.6;
}

.sort-item:active{
  color: var(--basic-black);
}

.botton-down{
  border: 20px solid transparent; 
  border-top: 20px solid;
}

.botton-up{
  border: 20px solid transparent; 
  border-bottom: 20px;
  opacity: 0.3;
}

.botton-down:hover,
.botton-down:focus{
  opacity: 0.6;
}

.botton-down:active{
  color: var(--basic-black);
}

.botton-up:hover,
.botton-up:focus{
  opacity: 0.6;
}

.botton-up:active{
  color: var(--basic-black);
}

.catalog-item:hover{

}

.catalog-info {
  display: none
}

 a:hover ..catalog-info {
   display: block
}

.catalog-category-title:hover,
.catalog-category-title:focus{
  color: var(--basic-red);
}

.catalog-category-title:active{
  opacity: 0.3;
}

.botton-price:hover,
.botton-price:focus{
  background-color: var(--basic-more-red);
}

.botton-price:{
  background-color: var(--basic-max-red);
}

.pagination-item{
  background-color: var(--basic-extra-gray);
}

.pagination-item:hover{
  background-color:var(--basic-more-gray);
}

.pagination-item:focus{
  background-color:var(--basic-max-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  opacity: 0.3;
}

.pagination-item:active{
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
