:root {
    --basic-gray: #EEEEEE;
    --basic-extra-gray: #888888;
    --basic-black: #000000;
    --basic-exstra-black: #283136;
    --basic-red: #FB565A;
    --basic-green: #00CA74;
    --basic-yellow: #EFC849;
    --basic-gray-light: #A6A6A6;
    --basic-white: #FFFFFF;
    --basic-more-red: #E74246;
    --basic-max-red: #D7373B;
    --basic-more-green: #00BC6C;
    --basic-max-green: #00AA62;
    --basic-more-yellow: #EAB534;
    --basic-max-yelloy: #E5A722;
    --basic-middle-gray: #4D4D4D;
    --basic-more-gray: #DFDFDF;
    --basic-max-gray: #D5D5D5;
  }
    
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("../fonts/Roboto.woff2") format("woff2");
    font-display: swap; }

*,
*::before,
*::after { box-sizing: border-box; 
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
  }

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
  align-content:  center;
  display: flex;
  justify-content: space-between;
}

.features {
  list-style: none;
  margin: 0;
  padding:0;
}

.features-item{
  position: relative;
  padding-left: 32px;
  margin-bottom: 20px;
}

.features-item::after{
  content:"";
  position: absolute;
  left:0px;
  top:11px;
  width: 25px;
  height: 2px;
  background:var(--basic-red);
}

.menu {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-top: 28px;
  margin-right: 85px;
}

.menu li{
  margin-left: 44px;
}

.menu-current a:not([href]) {
  background-color: var(--basic-gray);
}
  
.menu a{
  color: var(--basic-black);
}

.basket-link{
  color:var(--basic-black);
  margin-top: 25px;
  margin-right: 5px;
}

.basket-link svg{
  margin-right: 25px;
}

.basket-link svg:hover path{
  fill:var(--basic-red);
}
  
.menu a:hover,
.basket-link:hover {
  color: var(--basic-red);
}

.menu a:focus,
.basket-link:focus {
  color: var(--basic-gray-light);
}

.slider{
  font-weight: 500; 
  font-size: 55px;
  line-height: 55px;
  padding-top: 60px;
  margin-bottom: 28px;
} 

.slider-title{
  padding-bottom: 25px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-controls {
  position: absolute;
  left: 676px;
  top:431px;
  z-index: 20;
  display: flex;
  width: 67px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls .current {
  background-color: #ffffff;
}

.site-wrapper-1 {
  background-color: var(--basic-gray);
  background-image: url("../img/slide1.png");
  background-position:right;
  background-repeat: no-repeat;
  background-size:760px 431px;
  height: 425px;
}

.site-wrapper-2 {
  background-color: #8996a6;
  background-image: url("../img/nerds-index-slide2.png");
}

.site-wrapper-3 {
  background-color: #9d8b84;
  background-image: url("../img/nerds-index-slide3.png");
}

.header{
  background-color: var(--basic-gray);
  padding-top: 20px;
  padding-bottom: 20px;

}

.main-page{
  width: 100%;
  background-color: var(--basic-gray);
}

.button-know-more{
  background-color: var(--basic-red);
  border: none;
  width: 240px;
}

.button-know-more:hover,
.button-know-more:focus{
  background-color: var(--basic-more-red);
}
.button-know-more:active {
  background-color: var(--basic-max-red);
  color: var(--basic-gray);
}

.products {
  list-style: none;
  background-color: var(--basic-white) ;
  margin-bottom: 80px;
}

.product-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding:0px;
}
  
.product-item {
  text-align: left;
  width: 300px;
}

.product-item-img{
  margin-bottom: 25px;
}

.product-item h3{
  margin: 0px;
  padding:0px;
  text-transform: uppercase;
}

.product-item p{
  margin: 0px;
  padding:0px;
  padding-bottom: 32px;
  padding-top: 16px;

}

.product-item-img{
  height: 146px;
  width: 300px;
}

.button{
  padding: 17px 40px;
  box-sizing: border-box;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  display: inline-block;
}

.button-one{
  background-color: var(--basic-red);
}

.button-one:hover,
.button-one:focus{
  background-color: var(--basic-more-red);
}

.button-one:active {
   background-color: var(--basic-max-red);
   color: var(--basic-gray);
}
 
.button-two{
  background-color: var(--basic-green);
}

.button-two:hover,
.button-two:focus{
    background-color: var(--basic-more-green);
}

.button-two:active {
  background-color: var(--basic-max-green);
  color: var(--basic-gray);
}

.button-three{
  background-color: var(--basic-yellow);
}

.button-three:hover,
.button-three:focus{
    background-color: var(--basic-more-yellow);
}

.button-three:active {
  background-color: var(--basic-max-green);
  color: var(--basic-gray);
 }
  
.feature-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
  
.caption{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0px;
  margin-top: 73px;
  padding:0px;
  margin-bottom:30px;
}

.caption-text{
  margin-bottom:40px;
}

.about-company .container{
    background-color: var(--basic-white);
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.about-company .container{
  border-top: solid 2px var(--basic-gray) ;
}

.about-company-img{
  width: 360px;
  height: 208px;
  margin-top: 38px;
  margin-bottom: 32px;
}

 .text{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 38px;
    align-items: center;
}

.text-text{
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 23px;
  align-items: center;
}

 .features{
  margin: 0;
  padding: 0;
}

.features-item p {
  margin: 0 10px;
}

.number-information{
  width: 360px;
}

.benefits{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding:0px;
  margin:0px;
}

.benefit-item{
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
}

.percant{
  font-weight: 700;
  font-size: 26px;
  vertical-align: text-top;
}

.benefit-text{
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding:0;
  height: 37px;
}

.about-customers{
  border-top: solid 2px var(--basic-gray) ;
  border-bottom:solid 2px var(--basic-gray) ;
  background-color: var(--basic-white);
  margin: 0;
  padding:0;
  height: 183px;
  margin-bottom: 80px;
}

.customers{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top:46px;
  padding-bottom: 44px;
}

.customer-item{
  opacity: 0.3;
}

.customer-item a{
  display: inline-block;
}

.customer-item:hover,
.customer-item:focus{
  opacity: 1;
  }

.contact-with-us{
  width: 318px;
  background-color: var(--basic-white);
  z-index: 1;
  padding-top:52px;
  padding-left:50px;
}

.adress{
  margin-bottom: 0px;
}

.phone{
  margin-top: 10px;
  margin-bottom: 35px;
}

.button-type{
  background-color: var(--basic-red);
  margin-bottom: 29px;
}

.button-type:hover,
.button-type:focus{
  background-color: var(--basic-more-red);
  }

.button-type:active {
  background-color: var(--basic-max-red);
  color: var(--basic-gray);
 }
 
.contacts{
  background: url("../img/map.jpg");
  background-color: blanchedalmond;
  background-repeat: no-repeat;
  width: 100%;
  height: 416px;
  padding-top:54px;
  z-index: 0;
  margin-bottom: 68px;
}

.text-logo{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-bottom: 22px;
  padding:0;
}

.tel{
  color:var(--basic-black);
  margin-bottom: 21px;
}

.tel:hover{
  color:var(--basic-red);
}

.header-logo img {
  height: auto;
  width: 100%;
  display:block;
}

.container {
  margin: 0 auto;
  padding: 0 21px;
  max-width: 1200px;
}


.main{
  background-color: var(--basic-gray);
  margin-bottom: 70px;
  height: 425px;
  width: 100%;
  margin-top:-55px;
}

.menu{
  display: flex;
  justify-content: space-between; 
  margin:0;
  padding:0;
}

.menu:first-child{
  margin-left: 0px;
}

.text-welcome{
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  padding:0px;
  margin:0px;
  margin-top:10px;
}

.footer-element{
  display: flex
}

.social-list{
  display: flex;
  position: relative;
}
.social-button{
  border-radius: 50px;
  background-color: var(--basic-gray);
  width: 81px;
  height: 81px;
  margin-left:9px;
  padding:0;
  display: inline-block;
  position: relative;
}

.social-button svg{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.social-button:hover{
  background-color:var(--basic-red);
}

.modal{
  height: 590px;
  width: 960px;
  background-color: var(--basic-white);
  display: none;
}

.modal-show {
  display: block;
}

.type-us{
  font-weight: 700;
  font-size: 45px;
  line-height: auto;
}

.footer-social ul {
  list-style: none;
  padding:0;
  margin:0;
}

.footer-social .container{
  display: flex;
  justify-content: flex-start;
}

.welcome{
  margin-left: 139px;
  display: inline-block;
}

.footer-social a:hover,
.footer-contacts a:focus {
  color: var(--basic-more-red);
}

.footer-social a:active {
  color: var(--basic-max-red);
}

.modal-form{
  width: 960px;
  height: 590px;
  box-shadow: 0 0 5px;
  padding-left:100px;
  padding-top:63px;
  z-index: 1;
}

.modal p{
  padding:0;
  margin:0;
}

.top-modal{
  display: flex;
  justify-content: space-between;
  width:760px;
  padding-bottom: 34px;
}

input,
label {
    display: block;
}

.name-icon-user{
  margin-right: 40px;
}
.name-icon-user,
.mail-icon-user{
  width:360px;
  height: 50px;
}

.post-icon-user{
  width:760px;
  margin-bottom: 47px;
}

.modal-title{
  padding:0;
  margin:0;
  font-size: 45px;
  margin-bottom:37px;
}

label{
  margin-bottom: 9px;
}

.modal-text{
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.button-send{
  background-color: var(--basic-red);
  padding:16px 83px;
}

.button-send:hover,
.button-send:focus{
  background-color: var(--basic-more-red);
}

.button-send:active {
  background-color: var(--basic-max-red);
  color: var(--basic-gray);
}

.botton-close {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.botton-close::before,
.botton-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-red);
  opacity: 0.3;
}

.botton-close::before {
  transform: rotate(45deg);
}

.botton-close::after {
  transform: rotate(-45deg);
}


/*Стилизация каталога*/

.catalog-title{
  font-family: "Roboto";
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}

.filter-input-checkbox{
  color: var(--basic-middle-gray)
}

.filter-input-checkbox:hover,
.filter-input-checkbox:focus{
  color: var(--basic-extra-gray);
}

.filter-input-radio{
  color: var(--basic-middle-gray)
}
  
.filter-input-radio:hover,
.filter-input-radio:focus{
  color: var(--basic-extra-gray);
}

.catalog-list {
  list-style: none;
}

.botton-show{
  background-color: var(--basic-gray);
}

.button-show:hover,
.button-show:focus{
  background-color: var(--basic-more-gray);
}

.button-show:active {
  background-color: var(--basic-max-gray);
  opacity: 0.3;
}

.sort{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.sort-item{
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.sort-item:hover,
.sort-item:focus{
  opacity: 0.6;
}

.sort-item:active{
  color: var(--basic-black);
}

.botton-down{
  border: 20px solid transparent; 
  border-top: 20px solid;
}

.botton-up{
  border: 20px solid transparent; 
  border-bottom: 20px;
  opacity: 0.3;
}

.botton-down:hover,
.botton-down:focus{
  opacity: 0.6;
}

.botton-down:active{
  color: var(--basic-black);
}

.botton-up:hover,
.botton-up:focus{
  opacity: 0.6;
}

.botton-up:active{
  color: var(--basic-black);
}

.catalog-item:hover{

}

.catalog-info {
  display: none
}

 a:hover ..catalog-info {
   display: block
}

.catalog-category-title:hover,
.catalog-category-title:focus{
  color: var(--basic-red);
}

.catalog-category-title:active{
  opacity: 0.3;
}

.botton-price:hover,
.botton-price:focus{
  background-color: var(--basic-more-red);
}

.botton-price:{
  background-color: var(--basic-max-red);
}

.pagination-item{
  background-color: var(--basic-extra-gray);
}

.pagination-item:hover{
  background-color:var(--basic-more-gray);
}

.pagination-item:focus{
  background-color:var(--basic-max-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  opacity: 0.3;
}

.pagination-item:active{
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
